---
---

@charset "utf-8";

// variables

$font-size--desktop: 21px;
$font-size--mobile:  18px;

$color--background: #fff;
$color--primary:    #111;
$color--secondary:  #aaa;

$font-family--main: sans-serif;
$font-weight--main: 400;
$line-height--main: 1.6;

$font-family--longform: georgia, serif;

// theme import

@import 'theme';
